<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Layout CSS -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" media="screen" />
    <title>Dashboard</title>
</head>

<body>
    <section id="content-details">
        <div class="card rounded-3" style="min-height: calc(100vh - 45px)">
            <div class="card-body p-3">
                <div class="my-4">
                    <div class="d-flex align-items-center justify-content-around" style="width: 100%;">
                        <div class="equal-width">
                            <div class="badge bg-primary rounded-3 text-black">ALUNA</div>
                        </div>
                        <div class="equal-width">
                            <img src="https://img.freepik.com/fotos-gratis/retrato-de-uma-jovem-linda-modelo-de-pe-e-sorrindo-para-a-camera-foto-de-alta-qualidade_144627-75055.jpg" class="img-fluid picture-profile rounded-circle" alt="...">
                        </div>
                        <div class="equal-width">
                            <h5 class="mb-0">Amanda Silva</h5>
                        </div>
                    </div>
                </div>

                <div class="my-5 text-center position-relative">
                    <div class="divider-menu text-center">
                        <span class="btn btn-sm btn-primary rounded-circle">
                            <i class="fa fa-bars"></i>
                        </span>    
                    </div>
                    <hr>
                </div>


                <div class="d-flex justify-content-center flex-wrap">
                    <div class="col-6 col-md-2 mb-4">
                        <a href="#" class="btn btn-dark btn-xl btn-block custom rounded-3">Treinos</a>    
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <a href="#" class="btn btn-dark btn-xl btn-block custom rounded-3">Evolução</a>   
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <a href="#" class="btn btn-dark btn-xl btn-block custom rounded-3">Mensalidade</a>    
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <a href="#" class="btn btn-dark btn-xl btn-block custom rounded-3">Feedback</a>       
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <a href="#" class="btn btn-dark btn-xl btn-block custom rounded-3">Feedback</a>  
                    </div>
                </div>

                <footer>
                    <div class="footer-content text-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/768px-LEGO_logo.svg.png" alt="" class="img-fluid logo-footer">
                    </div>
                </footer>
            </div>
        </div>
    </section>
</body>




    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
